In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline
pd.options.display.max_columns = None
sns.set_style('whitegrid')
plt.rcParams['figure.figsize'] = (8, 4)

In [3]:
df = pd.read_csv('base/RISE/RR2017.txt', sep=';', encoding='ISO 8859-1')

/home/igoml/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Distritos SP,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,Idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,Município,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente
0,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,{ñ class},0,7,6,0,2,3,1,44,59,0,0,0,4,0,140010,10,2062,0,0,8,0,"0000000000,00","000000,00","0000001106,84","000001,17",4120400,1,7,"7,7",0,1,CNPJ,0,10,15,"000001092,17","000001083,02","000001169,17","000001083,02","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
1,{ñ class},{ñ class},{ñ class},99,99,99,11,517420,42111,45225,{ñ class},0,7,6,0,2,3,1,44,57,1,0,0,5,0,140010,10,2054,0,0,8,0,"0000000000,00","000000,00","0000001149,39","000001,22",4211101,1,5,"6,2",0,1,CNPJ,0,10,15,"000001069,49","000001366,08","000001086,63","000001105,91","000001118,85","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
2,{ñ class},{ñ class},{ñ class},99,99,99,12,514120,81214,74705,{ñ class},0,3,6,0,2,1,1,44,22,0,0,8,10,0,140010,10,2062,0,0,9,0,"0000000000,00","000000,00","0000001345,59","000001,43",8121400,1,7,"1,4",2,1,CNPJ,0,10,21,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000001454,55","000001239,58","000001342,65","000000000,00",0,0,0
3,{ñ class},{ñ class},{ñ class},99,99,99,11,514120,81214,74705,{ñ class},0,4,6,0,2,4,1,44,28,0,0,0,10,0,140010,10,2062,0,0,9,0,"0000000000,00","000000,00","0000001278,21","000001,36",8121400,1,7,"15,5",0,1,CNPJ,0,10,21,"000001521,12","000001502,84","000001502,13","000001262,66","000001330,58","000000962,12","000001875,96","000001354,24","000000590,87","000000879,66","000000000,00",0,0,0
4,{ñ class},{ñ class},{ñ class},99,99,99,11,622020,1393,1392,{ñ class},0,7,6,0,1,4,1,44,61,0,0,0,4,140047,140047,10,2062,0,0,8,0,"0000000000,00","000000,00","0000000766,72","000000,81",139305,1,7,"17,6",0,1,CNPJ,0,10,25,"000000616,80","000000916,64","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0

In [5]:
exploration = pd.DataFrame({
    'COLUMNS': df.columns,
    'TYPES': df.dtypes,
    'NA #': df.isna().sum(),
    'NA %': (df.isna().sum() / df.shape[0]) * 100
})

In [6]:
exploration

                                         COLUMNS   TYPES  NA #  NA %
Bairros SP                            Bairros SP  object     0   0.0
Bairros Fortaleza              Bairros Fortaleza  object     0   0.0
Bairros RJ                            Bairros RJ  object     0   0.0
Causa Afastamento 1          Causa Afastamento 1   int64     0   0.0
Causa Afastamento 2          Causa Afastamento 2   int64     0   0.0
Causa Afastamento 3          Causa Afastamento 3   int64     0   0.0
Motivo Desligamento          Motivo Desligamento   int64     0   0.0
CBO Ocupação 2002              CBO Ocupação 2002  object     0   0.0
CNAE 2.0 Classe                  CNAE 2.0 Classe   int64     0   0.0
CNAE 95 Classe                    CNAE 95 Classe   int64     0   0.0
Distritos SP                        Distritos SP  object     0   0.0
Vínculo Ativo 31/12          Vínculo Ativo 31/12   int64     0   0.0
Faixa Etária                        Faixa Etária   int64     0   0.0
Faixa Hora Contrat            Faixa Hora Contrat   int64     0   0.0
Faixa Remun Dezem (SM)    Faixa Remun Dezem (SM)   int64     0   0.0
Faixa Remun Média (SM)    Faixa Remun Média (SM)   int64     0   0.0
Faixa Tempo Emprego          Faixa Tempo Emprego   int64     0   0.0
Escolaridade após 2005    Escolaridade após 2005   int64     0   0.0
Qtd Hora Contr                    Qtd Hora Contr   int64     0   0.0
Idade                                      Idade   int64     0   0.0
Ind CEI Vinculado              Ind CEI Vinculado   int64     0   0.0
Ind Simples                          Ind Simples   int64     0   0.0
Mês Admissão                        Mês Admissão   int64     0   0.0
Mês Desligamento                Mês Desligamento   int64     0   0.0
Mun Trab                                Mun Trab   int64     0   0.0
Município                              Município   int64     0   0.0
Nacionalidade                      Nacionalidade   int64     0   0.0
Natureza Jurídica              Natureza Jurídica   int64     0   0.0
Ind Portador Defic            Ind Portador Defic   int64     0   0.0
Qtd Dias Afastamento        Qtd Dias Afastamento   int64     0   0.0
Raça Cor                                Raça Cor   int64     0   0.0
Regiões Adm DF                    Regiões Adm DF   int64     0   0.0
Vl Remun Dezembro Nom      Vl Remun Dezembro Nom  object     0   0.0
Vl Remun Dezembro (SM)    Vl Remun Dezembro (SM)  object     0   0.0
Vl Remun Média Nom            Vl Remun Média Nom  object     0   0.0
Vl Remun Média (SM)          Vl Remun Média (SM)  object     0   0.0
CNAE 2.0 Subclasse            CNAE 2.0 Subclasse   int64     0   0.0
Sexo Trabalhador                Sexo Trabalhador   int64     0   0.0
Tamanho Estabelecimento  Tamanho Estabelecimento   int64     0   0.0
Tempo Emprego                      Tempo Emprego  object     0   0.0
Tipo Admissão                      Tipo Admissão   int64     0   0.0
Tipo Estab                            Tipo Estab   int64     0   0.0
Tipo Estab.1                        Tipo Estab.1  object     0   0.0
Tipo Defic                            Tipo Defic   int64     0   0.0
Tipo Vínculo                        Tipo Vínculo   int64     0   0.0
IBGE Subsetor                      IBGE Subsetor   int64     0   0.0
Vl Rem Janeiro CC              Vl Rem Janeiro CC  object     0   0.0
Vl Rem Fevereiro CC          Vl Rem Fevereiro CC  object     0   0.0
Vl Rem Março CC                  Vl Rem Março CC  object     0   0.0
Vl Rem Abril CC                  Vl Rem Abril CC  object     0   0.0
Vl Rem Maio CC                    Vl Rem Maio CC  object     0   0.0
Vl Rem Junho CC                  Vl Rem Junho CC  object     0   0.0
Vl Rem Julho CC                  Vl Rem Julho CC  object     0   0.0
Vl Rem Agosto CC                Vl Rem Agosto CC  object     0   0.0
Vl Rem Setembro CC            Vl Rem Setembro CC  object     0   0.0
Vl Rem Outubro CC              Vl Rem Outubro CC  object     0   0.0
Vl Rem Novembro CC            Vl Rem Novembro CC  object     0   0.0
Ano Chegada Brasil            Ano Chegada Brasil   int64     0   0.0
Ind Trab Parcial                Ind Trab Parcial   int64     0   0.0
Ind Trab Intermitente      Ind Trab Intermitente   int64     0   0.0

In [7]:
num_features = list(exploration[exploration['TYPES'] != 'object']['COLUMNS'])
cat_features = list(exploration[exploration['TYPES'] == 'object']['COLUMNS'])

In [8]:
features_selected = [
    'Causa Afastamento 1',
    'Causa Afastamento 2',
    'Causa Afastamento 3',
    'Motivo Desligamento',
    'CBO Ocupação 2002',
    'CNAE 2.0 Classe',
    'Faixa Etária',
    'Faixa Hora Contrat',
    'Escolaridade após 2005',
    'Idade',
    'Município',
    'Nacionalidade',
    'Qtd Dias Afastamento',
    'Sexo Trabalhador',
    'Tipo Admissão',
    'Tipo Vínculo'
]

In [9]:
df[features_selected].head()

,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,Faixa Etária,Faixa Hora Contrat,Escolaridade após 2005,Idade,Município,Nacionalidade,Qtd Dias Afastamento,Sexo Trabalhador,Tipo Admissão,Tipo Vínculo
0,99,99,99,11,717020,41204,7,6,1,59,140010,10,0,1,0,10
1,99,99,99,11,517420,42111,7,6,1,57,140010,10,0,1,0,10
2,99,99,99,12,514120,81214,3,6,1,22,140010,10,0,1,2,10
3,99,99,99,11,514120,81214,4,6,1,28,140010,10,0,1,0,10
4,99,99,99,11,622020,1393,7,6,1,61,140047,10,0,1,0,10

In [39]:
df[cat_features].head()

,Bairros SP,Bairros Fortaleza,Bairros RJ,CBO Ocupação 2002,Distritos SP,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),Tempo Emprego,Tipo Estab.1,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC
0,{ñ class},{ñ class},{ñ class},717020,{ñ class},"0000000000,00","000000,00","0000001106,84","000001,17",7.7,1,"000001092,17","000001083,02","000001169,17","000001083,02","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00"
1,{ñ class},{ñ class},{ñ class},517420,{ñ class},"0000000000,00","000000,00","0000001149,39","000001,22",6.2,1,"000001069,49","000001366,08","000001086,63","000001105,91","000001118,85","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00"
2,{ñ class},{ñ class},{ñ class},514120,{ñ class},"0000000000,00","000000,00","0000001345,59","000001,43",1.4,1,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000001454,55","000001239,58","000001342,65","000000000,00"
3,{ñ class},{ñ class},{ñ class},514120,{ñ class},"0000000000,00","000000,00","0000001278,21","000001,36",15.5,1,"000001521,12","000001502,84","000001502,13","000001262,66","000001330,58","000000962,12","000001875,96","000001354,24","000000590,87","000000879,66","000000000,00"
4,{ñ class},{ñ class},{ñ class},622020,{ñ class},"0000000000,00","000000,00","0000000766,72","000000,81",17.6,1,"000000616,80","000000916,64","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00"

In [21]:
df['Tipo Estab.1'] = df['Tipo Estab.1'].str.replace(' ', '')
df['Tipo Estab.1'] = df['Tipo Estab.1'].map({'CNPJ': 1, 'CEI': 0})

In [38]:
df['Tempo Emprego'] = df['Tempo Emprego'].str.replace(',', '.')
df['Tempo Emprego'] = df['Tempo Emprego'].str.strip()

df['Tempo Emprego'] = df['Tempo Emprego'].astype('float32')

In [55]:
cat_num_features = df[cat_features].dtypes[df[cat_features].dtypes == 'object'].index[5:]

In [61]:
for col in cat_num_features:
    df[col] = df[col].str.replace(',', '.').astype(np.float64)

In [75]:
df_num_features_preprocessed = df[df.dtypes[df.dtypes != 'object'].index]

In [76]:
df_num_features_preprocessed.head()

,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CNAE 2.0 Classe,CNAE 95 Classe,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,Idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,Município,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente
0,99,99,99,11,41204,45217,0,7,6,0,2,3,1,44,59,0,0,0,4,0,140010,10,2062,0,0,8,0,0.0,0.0,1106.84,1.17,4120400,1,7,7.7,0,1,1,0,10,15,1092.17,1083.02,1169.17,1083.02,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,0,0
1,99,99,99,11,42111,45225,0,7,6,0,2,3,1,44,57,1,0,0,5,0,140010,10,2054,0,0,8,0,0.0,0.0,1149.39,1.22,4211101,1,5,6.2,0,1,1,0,10,15,1069.49,1366.08,1086.63,1105.91,1118.85,0.00,0.00,0.00,0.00,0.00,0.0,0,0,0
2,99,99,99,12,81214,74705,0,3,6,0,2,1,1,44,22,0,0,8,10,0,140010,10,2062,0,0,9,0,0.0,0.0,1345.59,1.43,8121400,1,7,1.4,2,1,1,0,10,21,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1454.55,1239.58,1342.65,0.0,0,0,0
3,99,99,99,11,81214,74705,0,4,6,0,2,4,1,44,28,0,0,0,10,0,140010,10,2062,0,0,9,0,0.0,0.0,1278.21,1.36,8121400,1,7,15.5,0,1,1,0,10,21,1521.12,1502.84,1502.13,1262.66,1330.58,962.12,1875.96,1354.24,590.87,879.66,0.0,0,0,0
4,99,99,99,11,1393,1392,0,7,6,0,1,4,1,44,61,0,0,0,4,140047,140047,10,2062,0,0,8,0,0.0,0.0,766.72,0.81,139305,1,7,17.6,0,1,1,0,10,25,616.80,916.64,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0,0,0